/* The bottom of the body, and the container code below)*/
.container {
    position: relative;
    width: 1000px;
    height:1120px;
    border: 2px solid black;
    background-color: #91ccdb;
}
/*All of these BELOW are part of the torso*/
.bottom {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 819px;
    left: 350px;
    display:flex;
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 10px 50px;
}


.torso {
    position: absolute;
    width: 300px;
    height: 320px;
    top: 600px;
    left: 350px;
    border-radius: 50%;
    background-color: white;
}

.torsomouth{
    position: absolute;
    width: 140px;
    height: 120px;
    top: 120px;
    left: 75px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(128, 0, 0);

}
.tongue3{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 70px;
    rotate: 15deg;
    border-radius: 50%;
    background-color: palevioletred
}
.tongue{
    position: relative;
    top: 80px;
    width: 30px;
    height: 100px;
    border-radius: 50%;
    background-color: palevioletred;
}
.tongue2{
    position: absolute;
    left: 25px;
    top: 90px;
    width: 35px;
    height: 150px;
    rotate: -17deg;
    border-radius: 50%;
    background-color: palevioletred;
}
.chesteye {
    position: absolute;
    top: 90px;
    left: 220px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 3px solid black;
}
.chestpupil{
    position: relative;
    width: 22px;
    height: 22px;
    left: 7px;
    top: 7px;
    background-color:greenyellow;
    border-radius: 50%;
}
.chestblack{
    position: relative;
    width: 7px;
    height: 9px;
    left: 7px;
    top:5px;
    background-color: black;
    border-radius: 50%;
}

.shouldereye {
    position: absolute;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
}


.shoulderpupil {
    position: relative;
    width: 22px;
    height: 22px;
    left: 7px;
    top: 7px;
    background-color:greenyellow;
    border-radius: 50%;
}

.shoulderblack {
    position: relative;
    width: 7px;
    height: 9px;
    left: 7px;
    top:5px;
    background-color: black;
    border-radius: 50%;
}

.arm {
    position: relative; 
    height: 150px;
    width: 20px;
    rotate: 45deg;
    bottom: 50px;
}

.aleft {
    background-color: rgb(112, 75, 5);
    left: -50px;
}

.bighand {
    position: relative;
    top:100px;
    right:25px;
    width: 70px;
    height: 100px;
    background-color: rgb(112, 75, 5);
}

.aright{
    background-color: rgb(112, 75, 5);
    right: -328px;
    top: 95px;
    rotate: -45deg;
    width: 15px;
}

.branch{ 
    position: absolute; 
    left: 33px;
    top:80px;
    height: 70px;
    width: 10px;
    rotate: -50deg;
    bottom: 50px;
    background-color: rgb(112, 75, 5);
}



/*all of the elements of the head below*/

.head {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 380px;
    left: 350px;
    border-radius: 50%;
    display:flex;
    background-color: white;
    box-shadow:  5px 5px 20px;
}
.nose {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 0; 
    height: 0; 
    rotate: -120deg;
    border-left: 20px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 100px solid orange; 
}

.mouth {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 180px;
    left: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(128, 0, 0);
}

.headarm {
    position: relative; 
    bottom: 100px;
    left: 10px;
    height: 150px;
    width: 20px;
    rotate: -45deg;
    background-color:rgb(112, 75, 5);
}

.antler {
    position: absolute;
    top: -20px;
    height: 50px;
    width: 20px;
    rotate: 20deg;
    background: rgb(112, 75, 5);
}

.a2 {
    top: -75px;
    left: 15px;
    rotate: 1deg;
}

.eyes {
    position: absolute;
    top: 70px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.pupil {
    width: 18px;
    height: 18px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cyan;
    border-radius: 50%;
}

.black{
    width: 5px;
    height: 7px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    border-radius: 50%;
}

.eleft {
    background-color: white;
    left: 50px;
    top: 100px;
}



.eright {
    background-color: white;
    right: 60px;
    top: 56px;
    height: 40px;
    width: 40px;
}

