.container {
width: 1000px;
height:1120px;
border: 2px solid black;
background-color: #91ccdb;
}

.bottom {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 829px;
    left: 350px;
    display:flex;
    border-radius: 50%;
    background-color: white;
}

.torso {
    position: absolute;
    width: 300px;
    height: 320px;
    top: 560px;
    left: 350px;
    border-radius: 50%;
    background-color: white;

}

.head {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 300px;
    left: 350px;
    border-radius: 50%;
    display:flex;
    background-color: white;
}

.eyes {
    position: absolute;
    top: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eleft {
    background-color: black;
    left: 80px;
}

.eright {
    background-color: black;
    right: 80px;
}